<div class="row">
  <div class="col-lg-1">
  </div>
  <div class="col-lg-4">
    <%= render partial: 'layouts/profile_info' %>
  </div>

  <div class="col-lg-6">
    <div class="card text-center">
      <%= render partial: 'layouts/inner_nav'%>

      <div class="card-body">
        <h5 class="card-title">Pinned Repositories</h5>
        <% @github_repos.user_repos.take(6).each do |repo| %>
        <div class="card-deck">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title"><%= repo.name %></h5>
              <h6 class="card-subtitle mb-2 text-muted"><%= repo.description %></h6>
              <p class="card-text"><%= "#{repo.language} #{repo.forks_count} #{repo.stargazers_count}" %></p>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-lg-3">
  </div>
</div>
