<div class="row">
  <div class="col-lg-4">
    <img class="img-thumbnail" src="<%= "#{@user_info.avatar}/64x64" %>" alt="<%= "#{@user_info.name}'s avatar" %>" style="width:300px">
    <h2><%= @user_info.name %></h2>
    <h3><%= @user_info.nickname %></h3>
  </div>
  <div class="col-lg-8">
    <h5>Repositories: <%= link_to @user_info.repos, repos_path %></h5>
    <h5>Stars: <%= link_to @user_info.starred, starred_path %></h5>
    <h5>Followers: <%= link_to @user_info.followers, followers_path %></h5>
    <h5>Following: <%= link_to @user_info.following, following_path %></h5>
  </div>
</div>
